@model  IEnumerable<Mail>
@using Marofh.Models

@{
    ViewBag.Title = "اداره الرسائل";
    ViewBag.Sub1Title = "لوحة التحكم";
    ViewBag.Sub1Url = "/admin/";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/Content/front/assets/css/mailpage.css" rel="stylesheet" />


@using (Html.BeginForm("SendNewMessage", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">


        <div class="col-12">


            <div class="tab-pane fade show  animate__animated animate__slideInUp" id="tab-5" role="tabpanel" aria-labelledby="tab-5">


                <div class="newtabs mytabs">
                    <ul class="nav nav-tabs" id="reportedWorkersTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active text-semibold" id="inCommingMessages-tab" data-toggle="tab" href="#inCommingMessages"
                               role="tab" aria-controls="inCommingMessages" aria-selected="true">
                                <i class="far fa-file mr-1 ml-1"></i>
                                رسائل واردة غير مقرؤة (@Model.Where(p => p.IsRead == false & p.OperatorID == null & p.OfficeID != null & p.MailID != null).Count())
                            </a>
                        </li> <li class="nav-item">
                                  <a class="nav-link  text-semibold" id="outGoingMessages-tab" data-toggle="tab" href="#outGoingMessages"
                                     role="tab" aria-controls="outGoingMessages" aria-selected="true">
                                      <i class="far fa-file mr-1 ml-1"></i>
                                      الرسائل الصادرة  (@Model.Where(p => p.OperatorID != null & p.OfficeID != null).Count())
                                  </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-semibold" id="sendNewMessages-tab" data-toggle="tab" href="#sendNewMessages"
                               role="tab" aria-controls="sendNewMessages" aria-selected="false">
                                <i class="far fa-file-check mr-1 ml-1"></i>


                                رسالة جديدة
                            </a>
                        </li>




                    </ul>
                    <div class="tab-content" id="reportedWorkersTabContent">
                        <div class="tab-pane fade show active  animate__animated animate__fadeIn" id="inCommingMessages" role="tabpanel" aria-labelledby="inCommingMessages-tab">


                            <div class="col-12">
                                <h2 class="form__title mt-4 mb-0 stylrep">
                                    <span> رسائل واردة غير مقرؤة   </span>
                                </h2>

                            </div>
                            <table id="files_list" class="table table-striped dt-responsive datatable" style="width:100%">
                                <thead class="thead">
                                    <tr>

                                        <th scope="col">  اسم المكتب</th>
                                        <th scope="col">  الرسالة</th>
                                        <th scope="col" class="text-center"> الاستجابة</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var msg in Model.Where(p => p.IsRead == false & p.OperatorID==null & p.OfficeID !=null & p.MailID !=null))
                                    {
                                    <tr>
                                        @if (msg.AspNetUser != null)
                                        {
                                            <td class="img-td">

                                                @msg.AspNetUser.OfficeName
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="img-td">

                                            </td>
                                        }

                                        <td class="img-td">

                                            @msg.Message
                                        </td>

                                        <td class="text-center">
                                            <div class="">

                                                <a data-toggle="tooltip" class="text-primary sizbtn" onclick="getMessageDetails(@msg.ID)"
                                                   title="اضف ردا"><i class="fas fa-reply"></i></a>



                                                @*<a href="/admin/DeleteMessage/@msg.ID" class="text-danger sizbtn" data-toggle="tooltip"
                data-placement="top" title="حذف الرسالة"><i class="fas fa-times-circle"></i></a>*@




                                            </div>

                                        </td>



                                    </tr>
                                    }


                                </tbody>
                            </table>


                        </div>
                        <div class="tab-pane fade show   animate__animated animate__fadeIn" id="outGoingMessages" role="tabpanel" aria-labelledby="outGoingMessages-tab">


                            <div class="col-12">
                                <h2 class="form__title mt-4 mb-0 stylrep">
                                    <span> الرسائل الصادرة   </span>
                                </h2>

                            </div>
                            <table id="files_list" class="table table-striped dt-responsive datatable" style="width:100%">
                                <thead class="thead">
                                    <tr>

                                        <th scope="col">  الرسالة</th>  
                                        <th scope="col">  المكتب</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var msg in Model.Where(p => p.OperatorID!=null & p.OfficeID !=null))
                                    {
                                        <tr>

                                            <td class="img-td">

                                                @msg.Message
                                            </td> 
                                            <td class="img-td">

                                                @msg.AspNetUser.OfficeName
                                            </td>

                                           


                                        </tr>
                                    }


                                </tbody>
                            </table>


                        </div>

                        <div class="tab-pane fade animate__animated animate__fadeIn" id="sendNewMessages" role="tabpanel" aria-labelledby="sendNewMessages-tab">



                            <div class="col-12">
                                <label class="Control-label">المكتب</label>
                                @Html.DropDownList("OfficeID", ViewBag.OfficeID as List<SelectListItem>,"اختر المكتب", new { htmlAttributes = new { @class = "form-control select-2", required = "required" } })

                            </div>
                            <div class="col-12">
                                <label class="Control-label"> اضف ردا</label>
                                <textarea id="Message" name="Message" class="form-control" style="height:200px;" required></textarea>

                            </div>
                            <div class="col-12">
                                <label class="Control-label"> المرفقات</label>
                                <input type="file" name="FileUrl" id="FileUrl" multiple />
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-default">ارسال</button>

                            </div>

                        </div>





                    </div>
                </div>




            </div>


        </div>
      
    </div>


    <!-- Modal -->
    

}
<div class="modal  fade modal fade bd-example-modal-lg createnew" id="viewdetails" tabindex="-1" role="dialog" aria-labelledby="viewdetailsLabel" aria-modal="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header flex-column no-padding mb-0">
                <h6>تفاصيل الرسالة</h6>
                <button type="button" class="close closebtn" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
            </div>

            <hr class="mt-0 mb-0">
            <div class="modal-body pt-2  pl-4 pr-4 pb-0" id="Preview">

                @*PartialView*@

            </div>
        </div>
        <div class="modal-footer justify-content-start align-items-start flex-column no-padding d-block">

        </div>
    </div>
</div>
@section Scripts{

    <!--Datatable-->
    <script src="/Content/front/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="/Content/front/assets/js/datatable/dataTables.bootstrap4.min.js"></script>
    <link href="/Content/front/assets/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script>

        $(document).ready(function () {
            $('.datatable').DataTable({
                "aLengthMenu": [
                    [7, 10, 25, -1],
                    [7, 10, 25, "All"]
                ],
                "iDisplayLength": 7,

                "language": {
                    "sProcessing": "جارٍ التحميل...",
                    "sLengthMenu": "أظهر _MENU_ مدخلات",
                    "sZeroRecords": "لم يعثر على أية سجلات",
                    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                    "sInfoPostFix": "",
                    "sSearch": "ابحث:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "الأول",
                        "sPrevious": "السابق",
                        "sNext": "التالي",
                        "sLast": "الأخير"
                    }
                }
            });

            table.$('tr').tooltip({
                placement: '',
                html: true
            });
        });

        $('.datatable').on('draw.dt', function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!--Datatable-->
    <script>

    function getMessageDetails(_id) {
    $.ajax({
    type: "Get",
    url: '@Url.Action("GetMessageDetails", "Admin")',
    data: { id: _id  },
    success: function (data) {
    $('#Preview').html(data);
    $('#viewdetails').modal('show');
    }
    })
        }

    </script>


}
