@model Marofh.WorkerCertificate
@using  Resources 
 @using (Html.BeginForm("EditWorkerCertificate", "Worker", FormMethod.Post))
 {
<div class="row">


    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.WorkerID)
   
    <div class="col-12 mt-10">

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="form__group">
                    <label for="firstname" class="form__label"> @Resource.Universitydegree </label>
                    <input name="Name" id="Name" type="text" class="form__input" placeholder="@Resource.Universitydegree" value="@Model.Name">
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="form__group">
                    <label for="firstname" class="form__label"> @Resource.UniversityName </label>
                    <input name="University" id="University" type="text" class="form__input" placeholder="@Resource.UniversityName" value="@Model.University">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="form__group">
                    <label for="firstname" class="form__label">  @Resource.DateFrom  </label>
                    @Html.TextBoxFor(m => m.From, "{0:yyyy-MM-dd}", new { @class = "form-control form__input", type = "date" })
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="form__group">
                    <label for="firstname" class="form__label">@Resource.DateTo  </label>
                    @Html.TextBoxFor(m => m.To, "{0:yyyy-MM-dd}", new { @class = "form-control form__input", type = "date" })
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="form__group">
                    <label for="firstname" class="form__label"> @Resource.Country </label>
                    @Html.DropDownList("CountryID", ViewBag.CountryID as List<SelectListItem>,htmlAttributes: new { @class = "form-control select2" })
                </div>
            </div>

        </div>
    </div>


    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"> @Resource.Save</button>
    </div>

</div>
    }
