@model Marofh.OfficeService
@using  Resources
@using (Html.BeginForm("EditService", "Office", FormMethod.Post))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.OfficeID)
    <div class="row">

        <div class="col-12 col-xl-6">
            <div class="form__group">
                <label for="category" class="form__label">@Resource.ServiceName </label>

                <input type="text" class="form__input" id="Name" name="Name" value="@Model.Name" />

            </div>
        </div>


        <div class="col-12 col-xl-6">
            <div class="form__group">
                <label for="category" class="form__label"> @Resource.ServiceName </label>
                <input type="number" class="form__input" id="Price" name="Price" value="@Model.Price" />
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">

            <i class="far fa-save "></i>
            &nbsp;
            @Resource.Save
            
        </button>

    </div>
}