@model Marofh.Models.ResetPasswordViewModel
@using Resources

@{
    
 var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    if(culture.Contains("en-us"))
    {
       
            ViewBag.Title = "Restore Password";
    }
    else
    {

         ViewBag.Title = "استرجاع كلمة المرور";
    }





    ViewBag.Parent = "الاعدات";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";

}






<style>

    .Termcod {
        background: #ffffff;
        padding: 22px 20px;
        box-shadow: -1px 6px 16px rgb(0 0 0 / 10%);
        border-radius: 10px;
        margin-top: 28px;
        padding-top: 0px;
    }
</style>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <section>

        <div class="wrapper">





            <div class="container ">


                <div class="Termcod wow animated fadeIn" data-wow-delay="0.8s">

                    <div class="termtem">

                        <h4 class="pt-30 pb-20"></h4>
                        <div class="row">

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Code)
                            <div class="form-group col-12 col-lg-12">
                                @Html.LabelFor(m => m.Password, Resource.Email, new { @class = "col-md-5 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form__input" })
                                </div>
                            </div>
                            <div class="form-group col-12 col-lg-12">
                                @Html.LabelFor(m => m.Password, Resource.NewPassword, new { @class = "col-md-5 control-label" })
                                <div class="col-md-8">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form__input" })
                                </div>
                            </div>
                            <div class="form-group col-12 col-lg-12">
                                @Html.LabelFor(m => m.Password, Resource.ConfirmPassword, new { @class = "col-md-5 control-label " })
                                <div class="col-md-8">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form__input" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-default" value="@Resource.Restore" />
                                </div>
                            </div>


                        </div>


                    </div>




                </div>


                <div class="row mt-5">
                    <div class="borbo col-md-12 m-2">
                        <a href="/home" class="backbuton">@Resource.BackToHome   </a>
                    </div>

                </div>


            </div>







        </div>

    </section>
}