@model Marofh.District

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>District</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NameAR)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NameAR)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NameEN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NameEN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Latitude)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Latitude)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Longitude)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Longitude)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.City.NameAR)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.City.NameAR)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
